.navbar-nav {
    display: flex !important;
    justify-content: flex-end !important; /* 강제로 오른쪽 정렬 */
    width: 100%; /* 전체 너비 */
}

/* 알림 팝업 전체 스타일 */
.notification-popup {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    z-index: 1000;
    width: 320px;
}

/* 알림 팝업 상단 */
.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.notification-header h5 {
    margin: 0;
    font-size: 16px;
}

.notification-header button {
    font-size: 14px;
    color: #007bff;
    background: none;
    border: none;
    cursor: pointer;
}

/* 알림 항목 스타일 */
.notification-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.notification-item:last-child {
    border-bottom: none;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-content {
    flex-grow: 1;
}

.notification-content p {
    margin: 0;
    font-size: 14px;
}

.notification-time {
    display: block;
    font-size: 12px;
    color: #888;
}


.notification-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}


/*밑에는 친구 관리 팝업 스타일*/

/* 팝업 전체 스타일 */
.friend-popup {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 320px;
    border: 1px solid #e0e0e0;
}

/* 제목 스타일 */
.friend-header h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 각 항목 간 간격 */
.list-group-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* 검색 입력 스타일 */
.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

/* 친구 추가 버튼 스타일 */
.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}